{% extends 'base.html' %}

{% block content %}
<head>
<h3>  Welcome, {{ request.user }}!  </h3>
</head>

<body>

If you need any help on how to find certain accounting information, please consult the <a href="{%url 'main_help' %}"> Documentaion</a>.
<br><br>
<hr>

<p><strong>Step 1</strong><br>
Use the <a href="{% url 'wacc_index' %}"> WACC Calculator </a> to find the Weighted Average Cost of Captital. This will be important for the final calculations
<br><br><hr>
    <strong>Step 2</strong><br>
Use the <a href="{% url 'dcf_index' %}">DCF Calculator </a> to find the instrinsic value of your stock.
<br><br><hr>

Check out the <a href="{% url 'enterprise_database' %}"> Stock Database </a> to see which stocks were already added by other users.

</p>


</body>


{% endblock %}